.footer {
    padding: 2rem 0;
    background-color: $color-grey-2;
    color: $color-white;
    font-size: 1.2rem;
    position: relative;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        height: 6.5rem;
        margin: auto;
    }

    &__text-box {
        text-align: center;
    }

    &__name {
        display: inline-block;
        position: absolute;
        bottom: -8%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
        
        &:hover {
            text-decoration: underline;
        }
    }

}