.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: .4;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;

        @media screen and (max-width: 51.25em) {
            display: none;
        }
    }
}